* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    }
  .home,
.Locations, .AddLocation,
.Rooms, .AddRoom,
.Login, .SignUp
.Outlets, .AddOutlet{
  display: flex;
  height: 90vh;
  align-items: center;
  justify-content: center;
  font-size: 3rem;
}
.container{
  background: url('./images/webb.png');
  min-height: calc(100vh - 80px);
  width: 100%;
  display: grid;
  place-items: center;
  z-index: 1;
  padding-bottom: 50px;
}

label{
  font-size:medium;
  width: 100%;
  text-align: left;
  padding-left: 10px;
  display: block;
}
input{
  display: block;
  width: 100%;
  text-align: left;
  padding: 10px;
  border-radius: 20px;
  height: 30px;
  font-size: medium;
  margin: 5px;
}
form{
  background-color: rgba(4, 62, 125, 0.75);
  border-radius: 40px;
  padding: 25px;
  display: grid;
  place-items: center;
  min-width: 25%;
  min-height: 25vh;
  margin: 25px 0px;
}
input[type=text],input[type=password]{
  width: 100%;
}
.card--outlet{
  background-color: rgba(4, 62, 125, 0.75);
  border-radius: 40px;
  padding: 25px;
  display: grid;
  place-items: center;
  width: 40vh;
  height: 60vh;
  text-align: center;
  box-shadow: 5px 10px rgba(2, 52, 105);
}
table{
  margin-left: auto;
  margin-right: auto;
  border-style: solid;
  text-align: center;
  width: 80%;
  background-color: gray;
  opacity: 75%;
}
.container--cards{
  margin-top: 20px;
  width: 75%;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 20px;
  align-items: stretch;
}
.img--container {
  border-radius: 50%;
  background-color: white;
  padding: 20px;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}
.container--graph{
  background-color: rgba(4, 62, 125, 0.75);
  border-radius: 40px;
  display: grid;
  place-items: center;
  min-width: 80%;
  height: 80vh;
  text-align: center;
  box-shadow: 5px 10px rgba(2, 52, 105);
  margin:20px 0 50px 0;
}

.footer {
	width: 100%;
  background: #043e7d;
	display: block;
 }

 .inner-footer {
	 width: 95%;
	 margin: auto;
	 padding: 30px 10px;
	 display: flex;
	 flex-wrap: wrap;
	 box-sizing: border-box;
	 justify-content: center;
 }

.footer-items {
	width: 25%;
	padding: 10px 20px;
	box-sizing: border-box;
	color: #fff;
}

.footer-items p {
	font-size: 16px;
	text-align: justify;
	line-height: 25px;
	color: #fff;
}

.footer-items h1 {
	color: #fff;
}

.border1 {
	height: 3px;
	width: 40px;
	background: #ff9800;
	color: #ff9800;
	background-color: #ff9800;
	border: 0px;
}

ul {
	list-style: none;
	color: #fff;
	font-size: 15px;
	letter-spacing: 0.5px;	
 }

ul a {
	text-decoration: none;
	outline: none;
	color: #fff;
	transition: 0.3s;
}

ul a:hover {
	color: #ff9800;
}

ul li {
	margin: 10px 0;
	height: 25px;
}

li i {
	margin-right: 20px;
}

.social-media {
	width: 100%;
	color: #fff;
	text-align: center;
	font-size: 20px;
}

.social-media a {
	text-decoration: none;
}

.social-media i {
	height: 25px;
	width: 25px;
	margin: 20px 10px;
	padding: 4px;
	color: #fff;
	transition: 0.5s;
}

.social-media i:hover {
	transform: scale(1.5);
}

.footer-bottom {
	padding: 10px;
	background: #00121b;
	color: #fff;
	font-size: 12px;
	text-align: center;
}

/* for tablet mode view */

@media screen and (max-width: 1275px) {
	.footer-items {
		width: 50%;
	}
}

/* for mobile screen view */

@media screen and (max-width: 660px) {
	.footer-items {
		width: 100%;
	}
}

/* you can toggle the media screen view accordingly by changing the (max-width: px) to your convenience */

/* Thanks to Computer Conversations */